nav {
    color: white;
    background-color: black;
    width: 100%;
    margin: 0 auto;
  }
  
  nav a{
    color: white;
    text-decoration: none;;
    padding: 0 5px;
  }
  
  nav a:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
  }
